.hero {
  max-width: 1600px;
  height: 600px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  background: $bgHero;
  background-image: linear-gradient(to right, $bgOver, $bgOver), url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;

  color: $primaryBgColor;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  @extend %button;

  display: inline-block;

  padding: 10px 32px;
}
